:80 {
    handle_path / {
        reverse_proxy dform-frontend:80
    }

    handle_path /api/* {
        reverse_proxy dform-backend:9000
    }

    @js {
        path /assets/*.js
    }
    header @js Content-Type application/javascript

    @css {
        path /assets/*.css
    }
    header @css Content-Type text/css
}
